{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Alan Lima de Medeiros</title>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a href="#" class="navbar-brand h1 mb-0">Alan Lima de Medeiros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item mr-2">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="navbar-item mr-2">
                        <a href="#sobre" class="nav-link">Sobre</a>
                    </li>
                    <li class="navbar-item mr-2">
                        <a href="#servicos" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navDrop">Portfólio</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item text-center">Eletrônica</a>
                            <a href="#" class="dropdown-item text-center">Programação</a>
                            <a href="#" class="dropdown-item text-center">Projetos</a>
                            <a href="#" class="dropdown-item text-center">Apresentações</a>
                            <a href="#" class="dropdown-item text-center">Artigos</a>
                        </div>
                        <!--dropdown-menu-->
                    </li>
                </ul>
            </div>
            <!--collapse navbar-collapse-->
        </div>
        <!--container-->
    </nav>
    <section class="img-article">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{article.art_img1.url}}" alt="">
                </div>
                <div class="col-sm-6">
                    <img src="{{article.art_img2.url}}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="text-details" style="background-color: #f4f4f4;">
        <div class="container">
            <h1 class="text-center py-4">{{article.art_title}}</h1>
            <div class="row">
                <div class="col-12">
                    <h5 class="text-right">Publicado em: {{article.art_published_date}}</h5>
                </div>
            </div>
            <div class="row text-justify">
                <p class="pt-3">{{article.art_text|linebreaks}}</p>
            </div>
            <a class="mb-2" href="{% url 'portfolio_posts:index' %}">Voltar</a>
        </div>

    </section>


    <footer class="bg-primary pb-2 pt-4 mt-3">
        <div class="container">
            <p class="text-center" style="color: #f4f4f4;">Alan Lima de Medeiros - 2020 - Todos os direitos reservados</p>
        </div>
    </footer>



    <!--Links javascript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>