<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo.PNG' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Alan Lima de Medeiros | Portfólio</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <div class="py-3 px-3 mb-2">
            <div class="media d-flex align-items-center"><img class="mx-auto mb-3" src="{% static 'img/logo.PNG' %}" alt="" style="width: 100px;"></div>
            <div class="media-body">
                <h4 class="text-center">Alan Lima de Medeiros</h4>
            </div>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span>&times;</span></a>
        <a href="{% url 'core:index' %}"><i class="fas fa-home" style="margin-right: 5px;"></i>Home</a>
        <a href="{% url 'portfolio_posts:index' %}"><i class="fas fa-folder-open" style="margin-right: 5px;"></i>Portfólio</a>
        <a href="{% url 'core:highlights' %}"><i class="fas fa-star" style="margin-right: 5px;"></i>HighLights</a>

    </div>
    <section class="inicio" style="background-image: url(../../static/img/bg-inicio-ok.PNG); height: 380px;">
        <button type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 my-5" onclick="openNav()" style="position: fixed; z-index: 3; border: 1px solid #323232"><i class="fa fa-bars mr-2"></i>Menu</button>
        <div class="container">
            <h1 class="pb-5" style="color: #f1f1f1; padding-top: 150px;">Portfólio</h1>
            <h2>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Estágio", "Técnico", "Eletrônica", "Programação Web" ]' style="color: #f1f1f1; text-decoration: none;">
                    <span class="wrap"></span>
                </a>
            </h2>
        </div>
    </section>
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Áreas de estudo e atuação</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills justify-content-center pb-4" id="pills-nav" role="tablist">
                        <li class="nav-item">
                            <a href="#nav-item-artigo" class="nav-link" id="nav-pills-artigo" data-toggle="pill">Artigos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav-item-eletronica" class="nav-link" id="nav-pills-eletronica" data-toggle="pill">Eletrônica</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav-item-estagio" class="nav-link" id="nav-pills-estagio" data-toggle="pill">Estágios</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav-item-modelagem" class="nav-link" id="nav-pills-modelagem" data-toggle="pill">Modelagem 3D</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav-item-programacaoweb" class="nav-link" id="nav-pills-programacaoweb" data-toggle="pill">Programação web</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav-item-tecnico" class="nav-link" id="nav-pills-tecnico" data-toggle="pill">Técnico</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-pills-content">
                        <div class="tab-pane fade show" id="nav-item-artigo" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "artigo" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-item-eletronica" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "eletronica" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-item-estagio" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "estagio" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-item-modelagem" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "modelagem" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-item-programacaoweb" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "programacaoweb" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-item-tecnico" role="tabpanel">
                            <div class="row">
                                <div class="card-deck">
                                    {% for project in projects %} {% if project.proj_area == "tecnico" %}
                                    <div class="card col-sm-6 col-md-4 card-no-padding card-shadow-2 mb-4">
                                        <a href="{{project.get_absolute_url_proj}}"><img class="card-img-top" src="{{project.proj_img1.url}}" style="height: 250px;"></a>
                                        <div class="card-body">
                                            <h3 class="card-title text-center">{{project.proj_title}}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">{{project.proj_published_date}}</small>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary pb-2 pt-4">
        <div class="container">
            <p class="text-center" style="color: #f4f4f4;">Alan Lima de Medeiros - 2020 - Todos os direitos reservados</p>
        </div>
    </footer>


    <!--Links javascript-->
    <script src="{% static 'js/text.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>