{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo.PNG' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Alan Lima de Medeiros</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <div class="py-3 px-3 mb-2">
            <div class="media d-flex align-items-center"><img class="mx-auto mb-3" src="{% static 'img/logo.PNG' %}" alt="" style="width: 100px;"></div>
            <div class="media-body">
                <h4 class="text-center">Alan Lima de Medeiros</h4>
            </div>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span>&times;</span></a>
        <a href="#sobre"><i class="fas fa-user" style="margin-right: 5px;"></i>Sobre</a>
        <a href="#formacao"><i class="fas fa-graduation-cap" style="margin-right: 5px;"></i>Formação</a>
        <a href="#habilidades"><i class="fas fa-user-cog" style="margin-right: 5px;"></i>Habilidades</a>
        <a href="#servicos"><i class="fas fa-briefcase" style="margin-right: 5px;"></i>Serviços</a>
        <a href="{% url 'portfolio_posts:index' %}"><i class="fas fa-folder-open" style="margin-right: 5px;"></i>Portfólio</a>
        <a href="#contato"><i class="fas fa-phone" style="margin-right: 5px;"></i>Contato</a>
        <a href="{% url 'core:highlights' %}"><i class="fas fa-star" style="margin-right: 5px;"></i>HighLights</a>
    </div>
    <section class="inicio" style="background-image: url(../../static/img/bg-inicio-ok.PNG); height: 650px;">
        <button type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 my-5" onclick="openNav()" style="position: fixed; z-index: 3; border: 1px solid #323232"><i class="fa fa-bars mr-2"></i>Menu</button>
        <div class="container">
            <h1 class="pb-5" style="color: #f1f1f1; padding-top: 150px;">Alan Lima de Medeiros</h1>
            <h2>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Eletrotécnico", "Programador", "Projetista de PCBs", "Pesquisador" ]' style="color: #f1f1f1; text-decoration: none;">
                    <span class="wrap"></span>
                </a>
            </h2>
            <div class="social-media mt-5" style="display: inline-block; color: #f1f1f1;">
                <a href="https://instagram.com/alan_lm37/" target="_blank"><img src="{% static 'img/wpp2.png' %}" alt="" class="mx-1"></a>
                <a href="https://api.whatsapp.com/send?phone=5584998137303" target="_blank"><img src="{% static 'img/insta2.png' %}" alt="" class="mx-1"></a>
                <a href="https://www.linkedin.com/in/alan-lima-a24a8b1b2/" target="_blank"><img src="{% static 'img/linkedin2.png' %}" alt="" class="mx-1"></a>
                <a href="https://www.google.com/intl/pt_pt/gmail/about/" target="_blank"><img src="{% static 'img/gmail2.png' %}" alt="" class="mx-1"></a>
            </div>
        </div>
    </section>
    <section class="sobreMim" id="sobre" style="background-color: #f4f4f4;">
        <img src="{% static 'img/trilha.PNG' %}" alt="" class="img-trilha" style="position: absolute; bottom: 0px; right: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2 class="display-5 d-inline h1-geral border-bottom">SOBRE MIM</h2>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-lg-4 col-sm-12 pb-4">
                    <div class="mx-auto text-center img-perfil">
                        <img src="{% static 'img/foto-alan.PNG' %}">
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 mt-auto mb-auto imagem text-justify">
                    <p>Graduando em Engenharia Elétrica pela Universidade Federal do Rio Grande do Norte (UFRN), com formação técnica nos cursos de Automação Industrial pelo Instituto Metrópole Digital (IMD) e de Eletrotécnica pelo Instituto Federal de Educação,
                        Ciência e Tecnologia (IFRN). Além disso, apresento experiência com projetos de sistemas embarcados e modelagem 3D, tendo aprendido boa parte desses conhecimentos na equipe Potiguar Rocket Design (PRD) no setor de Eletrônica e Controle.
                        Por fim, trabalho bem em equipe, tanto por minha vivência no PRD, quanto pela minha atuação como estagiário na empresa RN Proteção e Sistemas Eletrônicos, em que auxiliava na montagem de sistemas eletrônicos de segurança.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="formacao bg-primary" id="formacao">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2 class="display-5 d-inline h1-geral border-bottom-1" style="color: #F4F4F4;">FORMAÇÃO</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 mb-3">
                    <nav id="navbarVertical" class="navbar navbar-light bg-light" style="border-radius: 15px;">
                        <a href="#item1" class="nav-link">Formação acadêmica <hr> </a>
                        <nav class="nav nav-pills flex-column" style="margin-top: -20px;">
                            <a href="#item1-1" class="nav-link ml-3">UFRN</a>
                            <a href="#item1-2" class="nav-link ml-3">IFRN</a>
                            <a href="#item1-3" class="nav-link ml-3">IMD</a>
                            <a href="#item1-4" class="nav-link ml-3">Cursos on-line</a>
                        </nav>
                        <a href="#item2" class="nav-link my-2">Experiência profissional <hr> </a>
                        <nav class="nav nav-pills flex-column" style="margin-top: -20px;">
                            <a href="#item2-1" class="nav-link ml-3">Estágio</a>
                            <a href="#item2-2" class="nav-link ml-3">Bolsa de pesquisa</a>
                            <a href="#item2-3" class="nav-link ml-3">PRD</a>
                            <a href="#item2-4" class="nav-link ml-3">Monitoria</a>
                        </nav>
                    </nav>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div data-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite mb-5">
                        <h3 id="item1">Formação acadêmica</h3>
                        <p>Minha formação acadêmica se baseia nos meus cursos técnicos, Automação Industrial e Eletrotécnica, e na minha atual graduação, Engenharia Elétrica. Ademais, possuo formações em cursos online e presenciais em diversas áreas do conhecimento,
                            desde robótica e programação até mecânica automotiva. </p>
                        <h5 id="item1-1">UFRN - Universidade Federal do Rio Grande do Norte</h5>
                        <p>Cursando o primeiro período do Bacharelado em Engenharia Elétrica na UFRN desde 2020.2</p>
                        <h5 id="item1-2">IFRN - Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte</h5>
                        <p>Curso técnico de Eletrotécnica concluído no Instituto Federal de Educação, Ciência e Tecnologia (IFRN).</p>
                        <h5 id="item1-3">IMD - Instituto Metrópole Digital</h5>
                        <p>Curso técnico de Automação Industrial concluído no Instituto Metrópole Digital (IMD). Ademais, realizei o curso "Programador de dispositivos móveis" na modalidade remota oferecido pelo IMD no Programa Novos Caminhos em 2020.</p>
                        <h5 id="item1-4">Cursos on-line</h5>
                        <p>Possuo formação variada em diversos cursos online oferecidos pela LEIAUT, Fundação Bradesco, SENAI e Udemy. Essas formações complementares contemplam principalmente as áreas de programação em Python e C/C++.</p>
                        <h3 id="item2">Experiência profissional</h3>
                        <p>Como experiência profissional, tenho vivências tanto acadêmicas quanto no mercado de trabalho. Nesse sentido, em meio acadêmico pude confeccionar artigos, atuar em monitorias, bolsas de pesquisa e equipes, como a de foguete modelismo
                            Potiguar Rocket Design. Por outro lado, no mercado de trabalho atuei estagiando da empresa RN Proteção e Sistemas Eletrônicos, onde auxiliava na instalação e manutenção de sistemas de segurança.</p>
                        <h5 id="item2-1">Estágio RN-Proteção e Sistemas Eletrônicos</h5>
                        <p>Atuei como estagiário de eletrotécnica na empresa RN Proteção e Sistemas Eletrônicos, onde auxiliava na instalação e manutenção de câmeras, de cercas elétricas, de centrais de alarme monitoradas, de incêndio e de choque, de motores
                            elétricos e de sensores.</p>
                        <h5 id="item2-2">Bolsa de pesquisa</h5>
                        <p>Durante minha participação no projeto “Integração de processos industriais independentes para rastreabilidade do fluxo de produção baseada em Internet das Coisas” pude conhecer o funcionamento de um Estação de Tratamento de Água,
                            focando, principalmente, nos seus atuadores, controladores e sensores. Dessa forma, com esses conhecimentos, o meu principal objetivo era desenvolver um sistema supervisório em ScadaBR que pudesse supervisionar todo esse tratamento,
                            emitindo alertas quando necessário. Por fim, houve ainda um breve estudo do funcionamento do microcontrolador Raspberry.</p>
                        <h5 id="item2-3">PRD - Potiguar Rocket Design</h5>
                        <p>Ingressei no Potiguar Rocket Design no setor de Eletrônica e Controle em abril de 2020, realizando, desde então, diversos projetos de prototipagem de PCBs com o auxílio de softwares como KiCAD, Eagle e SolidWorks. Além disso, nesses
                            projetos pude realizar a programação em C/C++ para controlar suas partes eletromecânicas via microcontrolador.</p>
                        <h5 id="item2-4">Monitoria de matemática</h5>
                        <p>Atuei como monitor de matemática no Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte de abril de 2018 a fevereiro de 2019. Na monitoria fui capaz de tirar dúvidas individuais de alunos, bem como ministrar
                            aulas extras de reforço para grupos de alunos.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="habilidades" id="habilidades" style="background-color: #f4f4f4;">
        <div class="line-text-blue">
            <div></div>
        </div>
        <div class="container">
            <div class="col-12 text-center my-5">
                <h2 class="display-5 d-inline h1-geral border-bottom">HABILIDADES</h2>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="justify-content-center text-center">
                        <div class="img-e-titulo pb-3">
                            <img src="{% static 'img/software.png' %}" alt="" style="width: 70px;">
                            <h4 class="text-center">Softwares</h4>
                        </div>
                        <div class="barras mr-4 ml-4">
                            <h5 class="text-left">KiCAD</h5>
                            <div class="progress text-justify mb-3">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%; background-color: #4288C2;">95%</div>
                            </div>
                            <h5 class="text-left">AutoCAD</h5>
                            <div class="progress text-justify mb-3">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; background-color: #4288C2;">80%</div>
                            </div>
                            <h5 class="text-left">Pacote Office</h5>
                            <div class="progress text-justify mb-5">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%; background-color: #4288C2;">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="justify-content-center text-center">
                        <div class="img-e-titulo pb-3">
                            <img src="{% static 'img/programming.png' %}" alt="" style="width: 70px;">
                            <h4 class="text-center">Programação</h4>
                        </div>
                        <div class="barras mr-4 ml-4 pl-2">
                            <h5 class="text-left">C/C++</h5>
                            <div class="progress text-justify mb-3">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%; background-color: #4288C2;">85%</div>
                            </div>
                            <h5 class="text-left">Java</h5>
                            <div class="progress text-justify mb-3">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: #4288C2;">70%</div>
                            </div>
                            <h5 class="text-left">Python</h5>
                            <div class="progress text-justify mb-3">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; background-color: #4288C2;">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="servicos bg-primary" id="servicos">
        <div class="container">
            <div class="col-12 text-center py-5">
                <h2 class="display-5 d-inline h1-geral border-bottom-1" style="color: #f4f4f4;">SERVIÇOS</h2>
            </div>
            <div class="row justify-content-sm-center">
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/estagio.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Estágios</h3>
                            <p class="card-text pt-5 text-center">Experiências profissionais</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal1">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/tecnico.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Técnico</h3>
                            <p class="card-text pt-5 text-center">Projetos técnicos</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal2">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/PCB.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Eletrônica</h3>
                            <p class="card-text pt-5 text-center">Placas de circuito impresso e eletrônica</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal3">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/modelagem.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Modelagem 3D</h3>
                            <p class="card-text pt-5 text-center">Protótipos em 3D</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal4">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/web.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Programação web</h3>
                            <p class="card-text pt-5 text-center">Desenvolvimento de sites</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal5">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card mb-5">
                        <div class="circle-card mx-auto mt-5" style="background-color: #4288C2;">
                            <img src="{% static 'img/artigo.png' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Artigos</h3>
                            <p class="card-text pt-5 text-center">Publicações científicas</p>
                        </div>
                        <div class="card-body mt-5 text-right">
                            <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal6">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center pb-3 text-port">
                <p>Para conhecer mais sobre os meus serviços e trabalhos, acesse meu portfólio abaixo</p>
            </div>
            <div class="col-12 text-center link-port pb-5">
                <a href="{% url 'portfolio_posts:index' %}">Portfólio</a>
            </div>
        </div>
    </section>
    <section id="contato" class="contato" style="background-color: #f4f4f4;">
        <div class="container">
            <div class="col-12 text-center py-5">
                <h2 class="display-5 d-inline h1-geral border-bottom">CONTATO</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-12 text-center py-3 message-img-text">
                        <img src="{% static 'img/message.png' %}" alt="" style="width: 40px;">
                        <h4>Envie-me uma mensagem</h4>
                    </div>
                    <form action="">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="inputNome" placeholder="Seu nome">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" id="inputAssunto" placeholder="Assunto do e-mail">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Seu e-mail">
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea class="form-control" placeholder="Sua mensagem" style="height: 130px; resize: none;"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-primary float-right">Enviar</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center py-3">Ou entre em contato pelo e-mail: alanlimamedeiross@gmail.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary pb-2 pt-4" id="footer">
        <div class="container">
            <p class="text-center" style="color: #f4f4f4;">Alan Lima de Medeiros - 2020 - Todos os direitos reservados</p>
        </div>
    </footer>








    <!--Modal 1: Estágios-->
    <div class="modal fade" id="siteModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Estágios</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão apresentadas algumas de minhas atividades realizadas enquanto estagiário.

                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal 2: Técnico-->
    <div class="modal fade" id="siteModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Técnico</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão apresentados os meus principais trabalhos realizados durante os meus estudos nos cursos técnicos. Nesse sentido, como a minha formação técnica é em Automação Industrial e Eletrotécnica, os trabalhos estão diretamente
                        relacionados com projetos eletromecânicos e sistemas embarcados.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal 3: Eletrônica-->
    <div class="modal fade" id="siteModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Eletrônica</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão apresentados os meus projetos de prototipagem de PCBs, realizados majoritariamente enquanto membro do Potiguar Rocket Design no setor de Eletrônica e Controle. Dessa forma, para a realização dessas prototipagens foram
                        utilizados softwares como KiCAD, Eagle e SolidWorks para as construções 3D, bem como a programação em LaTeX para a escrita das documentações.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal 4: Modelagem-->
    <div class="modal fade" id="siteModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Modelagem 3D</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão mostradas as minhas modelagens 3D, realizadas principalmente com os softwares SolidWorks e AutoCAD.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal 5: Programação Web-->
    <div class="modal fade" id="siteModal5" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Programação Web</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão apresentados meus trabalhos na área de programação web, em que possuo apenas conhecimentos básicos em HTML e CSS. Nesse sentido, até o momento, só realizei um trabalho para o processo seletivo da empresa júnior EJECT.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>

    <!--Modal 6: Artigos-->
    <div class="modal fade" id="siteModal6" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Artigos</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nesta seção serão apresentados os meus artigos desenvolvidos em toda minha vida acadêmica. Dessa forma, para a realização deles foram utilizadas, principalmente, ferramentas do Pacote Office como Excel e Word.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'portfolio_posts:index' %}">Acessar portfólio</a>
                </div>
            </div>
        </div>
    </div>


    <!--Links javascript-->
    <script src="{% static 'js/text.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>